
 * {margin:0; padding:0; box-sizing:border-box;}

 body {background: #fff;}

.topmenu {float:right; margin-top:5px; position:relative;}

.topnav {height: 80px; background-color:#000; overflow: hidden; border-bottom: 5.5px solid #54c3ee; } 

.topnav a { display:inline-block; color: #999; padding: 14px 18px; 
text-decoration: none; font-size: 16px; }

.topnav a.active, .topnav a:hover {color: #fff} 

.topnav .icon {float: right; display: none;} /*icon görünmüyor mobil de açılacak*/

#banner {width:100%; height: 250px;}

#banner-2 {position: absolute; width: 100%; top: 80px; left: 0; display: none;}

hr.hr { border: 1px solid red; max-width: 100%;}

.ates {font-family: 'Dancing Script', cursive; font-weight:700; background-image: linear-gradient(to bottom right, rgba(255,0,0,.3), rgba(255,0,0,1));
letter-spacing:7px; display:inline-block; margin-left:30%; color:#fff; border-radius:5px; margin-top:1rem; margin-bottom:1rem;}  

header .container-fluid{height: 270px;}

/* #sec1 {background: #ffe8e8;} */
#sec1 {background:#660000;}

/* #sec2 {background: #e8e8ff;} */

#sec2 {background:#000066;}

.menu1 img {width: 100%;height:100vh;}

.menu2 img {width: 100%;height:100vh;}

.asd-txt1 {background: linear-gradient(60deg, #eb8228, #e659f0);max-width: 200px;height: 200px;font-size: 24px; border-radius:50%;color: white;}

.asd-txt2 {background: linear-gradient(60deg, #7936ff, #25f1eb);max-width: 200px;height: 200px;font-size: 24px;border-radius:50%;color: white;}

.asd-txt3 {background: linear-gradient(60deg, #7936ff, #25f1eb);max-width: 200px;height: 200px;font-size: 24px;border-radius:50%;color: white;}

.asd-txt4 {background: linear-gradient(60deg, #eb8228, #e659f0);max-width: 200px;height: 200px;font-size: 24px;border-radius:50%;color: white;}

#aside1 .asd-txt1 .txt {align-items: center;justify-content: center;text-align: center; display: flex;}

#aside1 .asd-txt2 .txt {align-items: center;justify-content: center;text-align: center; display: flex;}

#aside2 .asd-txt3 .txt {align-items: center;justify-content: center;text-align: center; display: flex;}

#aside2 .asd-txt4 .txt {align-items: center;justify-content: center;text-align: center; display: flex;}

footer {background: #333; color: #999; bottom: 0;}

footer ul li {display: block;}

.foot-text1 {  margin-left: 40px; list-style: none;}

.foot-text2 { margin-top: 5px; padding-right:10px;}

.foot-text2 a {text-decoration: none; color: #ddd;}


@media screen and ( max-width: 780px){
 aside {display: flex; justify-content: center;align-items: center; text-align: center;}
 header .container-fluid{height:250px;}
.topnav a {font-size: 14px;}
.asd-txt1, .asd-txt2{margin-bottom: 70px;}
.asd-txt3, .asd-txt4{margin-bottom: 70px;}

}

@media screen and ( max-width: 480px){
  #banner {display: none;}
  #banner-2 {display:block; width: 100%; height:160px;}
  header .container-fluid{height: 170px;}
  .topnav {width: 100%;}
  .topmenu { width:90%;  }
  .topnav a{padding:5px 5px; font-size: 12px;}
  .ates {margin:auto; margin-top:2rem;}
  .menu2 img {width: 100%;}
  .asd-txt1, .asd-txt2, .asd-txt3, .asd-txt4 { width:50%; padding:1em;}
  .foot-text1{margin-left: 0; padding-left: 0;}
}
   
  


  